<div class="chat">
  <div class="chat__wrapper">
    <h4>Hello World</h4>
  </div>
  <aside class="chat__sidebar">
    <ul class="chat__icons">
      <a [routerLink]="['profile']">
        <img
          class="chat__icon"
          title="Profile page"
          src="/assets/user.svg"
          alt="Chat Button Icon"
        />
      </a>
      <a (click)="logOut()">
        <img
          class="chat__icon"
          title="Logout"
          src="/assets/logout.svg"
          alt="Chat Button Icon"
        />
      </a>
    </ul>
  </aside>
</div>
